doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title} — freelink
    link(rel="shortcut icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDQ4IDIwNDgiPjxwYXRoIGQ9Ik03MzMgNjcxLjl2MWE1Ni41IDU2LjUgMCAwIDAgNTYuOCA1Ni44aDczLjlhNTYuNSA1Ni41IDAgMCAxIDU2LjcgNTYuNyA1Ni41IDU2LjUgMCAwIDEtNTYuNyA1Ni43SDc4OGE1NyA1NyAwIDAgMC01Ni43IDU2LjggNTYuNSA1Ni41IDAgMCAwIDU2LjcgNTYuN2g3My45YTU2LjUgNTYuNSAwIDAgMSA1Ni43IDU2LjhBNTYuNSA1Ni41IDAgMCAxIDg2MiAxMDcwSDc4OGE1NyA1NyAwIDAgMC01Ni43IDU2LjggNTYuNSA1Ni41IDAgMCAwIDU2LjcgNTYuN2g3My45YTU2LjUgNTYuNSAwIDAgMSA1Ni43IDU2LjhBNTYuNSA1Ni41IDAgMCAxIDg2MiAxMjk3SDc4OGE1NyA1NyAwIDAgMC01Ni43IDU3LjhINTYyYy0yNiAwLTQ3LjkgMjItNDcuOSA0OCAwIDI1LjkgMjIgNDcuOSA0OCA0Ny45aDUzNy4yYzIyNy42IDAgNDEzLjQtMTk2LjggNDEzLjQtNDM4LjQgMC0yNDAuNy0xODUuOC00MzYuNC00MTQuNC00MzYuNEg1NjJjLTI2IDAtNDcuOSAyMi00Ny45IDQ4czIyIDQ3LjkgNDggNDcuOWgxNzFaIiBmaWxsPSIjMTc3OEYyIi8+PC9zdmc+")
    link(rel="stylesheet", href="https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css")
    link(rel="stylesheet", href="https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/brands.min.css")
    link(rel="stylesheet", href="./assets/style.css")
    if theme
      link(rel="stylesheet", href=`./themes/${theme}`)
  body
    div(class="container")
      h1 #{title}
      if tagline
        h2 #{tagline}
      img(src=`${profilePicture || "https://avatars.dicebear.com/api/personas/.svg"}` class="profile-img" alt="profile picture")

      div(class="links")
        each link in links
          a(class="link" href=`${link.url}` target="_blank" rel="noopener noreferrer")
            if link.icon
              i(class=`fab fa-${link.icon}`)
            p #{link.name}
